<!--PAGE SECTION -->
	<section id="services" >
		<div class="container">
			<div class="row text-center header">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
					<h3>{{item.lang.name}}</h3>
					<hr />
				</div>
			</div>
		</div>
	</section>
<!--PAGE SECTION END-->
